In [5]:
import pandas as pd

In [6]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [7]:
pd.DataFrame({'Bob': ['I liked it', 'It was awful'], 'Sue': ['Pretty good', 'Bland']})

            Bob          Sue
0    I liked it  Pretty good
1  It was awful        Bland

In [8]:
pd.DataFrame({'Bob': ['I liked it', 'It was awful'], 'Sue': ['Pretty good', 'Bland']}, index=['Product A', 'Product B'])

                    Bob          Sue
Product A    I liked it  Pretty good
Product B  It was awful        Bland

In [9]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [11]:
reviews = pd.DataFrame({'Bob': ['I liked it', 'It was awful'], 'Sue': ['Pretty good', 'Bland']}, index=['Product A', 'Product B'])

In [12]:
reviews

                    Bob          Sue
Product A    I liked it  Pretty good
Product B  It was awful        Bland

In [13]:
reviews.Bob

Product A      I liked it
Product B    It was awful
Name: Bob, dtype: object

In [14]:
reviews['Bob']

Product A      I liked it
Product B    It was awful
Name: Bob, dtype: object

In [15]:
reviews['Bob'][0]

'I liked it'

In [16]:
reviews.iloc[0]

Bob     I liked it
Sue    Pretty good
Name: Product A, dtype: object

In [17]:
reviews.iloc[:2, 0]

Product A      I liked it
Product B    It was awful
Name: Bob, dtype: object

In [18]:
reviews.loc['Product A', 'Bob']

'I liked it'

In [19]:
reviews.Bob == 'I liked it'

Product A     True
Product B    False
Name: Bob, dtype: bool

In [20]:
reviews.loc[reviews.Bob == 'I liked it']

                  Bob          Sue
Product A  I liked it  Pretty good

In [21]:
reviews['Mike'] = 'Good'

In [22]:
reviews

                    Bob          Sue  Mike
Product A    I liked it  Pretty good  Good
Product B  It was awful        Bland  Good